/* General */
html { height: 100%; background-color: #000 }
body { height: 100%; background-color: #000; color: #fff; text-align: center; font-family: 'Optima', Arial, sans-serif; }
h1 { margin: 80px 0; font-size: 300% }

/* Client Data Display */
.raw_data { clear: both; margin: 0 auto; }
.raw_data td { text-align: center }

.colorPicker button { width: 13em; height: 13em; }

.score { font-size: 6em; display: none; }

.achievement { font-size: 6em; }

#sliders { width: 20em; height: 20em; position: relative; }
#intensityA { margin-left: 1.5em; }
#intensityB { margin-top: 0.75em; height: 17em; }
#shake { font-size: 2em; position: absolute; left: 10%; top: 10%; }

/* Virtual Light Display */
#lights { display: block; margin: 50px auto 0 auto; }
#lights .light { position: relative; float: left; margin: 0 10px; width: 24px; height: 24px; border: 1px solid #fff; border-radius: 24px; -moz-border-radius: 24px; background-color: transparent; }
#lights .led { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 24px; -moz-border-radius: 24px; }

/* Switcher */
.switcher { position: absolute; bottom: 0.25em; right: 0.25em; }
.switcher button { font-size: 85%; }
.switcher button:hover { cursor: pointer; }

/* Helpers */
.clear { clear: both; }
.hide { display: none; }
.hidden { visibilty: hidden; }

/* THREE container */
#threejs-container {
  position: absolute;
  text-align: center;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* THREE stats */
#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #aaa !important }
#stats #fps #fpsGraph { display: none }

/* THREE options */
#threeOptions {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1px;
  opacity: 0.67;
  font-size: 0.67em;
  text-align: right;
}
#threeOptions select {
  margin: 0;
}
#threeOptions input[type="text"] {
  width: 3em;
  margin: 2px;
}
#threeOptions input[type="submit"]:disabled {
  color: #555;
}